<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('./nav') %>
    <div class="container mb-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-1 pl-2 pr-2">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item"><a href="/board">게시판</a></li>
            <li class="breadcrumb-item"><a href="/board/<%= post.id %>"><%= post.title %></a></li>
            <li class="breadcrumb-item active" aria-current="page"> 게시글 수정 </li>
          </ol>
        </nav>
        
        <form action="/board/<%= post.id %>edit" method="post">
  
          <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="body">내용</label>
              <textarea id="body" name="body" rows="5" class="form-control"><%= post.body %></textarea>
          </div>
  
          <div>
            <a class="btn btn-primary" href="/board/<%= post.id %>">이전</a>
            <button type="submit" class="btn btn-primary"> 등록</button>
          </div>
  
        </form>
  
      </div>
    </body>
  </html>